<div>
    <div>
        <Input @type="date" @value={{this.dateFap}}/>
    </div>
    <div>
        <button type="button" class="btn btn-dark" {{on "click" this.fapped}}>FAPPED</button>
    </div>
</div>